body {
  background-color: black;
}

* {
  font-family: "Rethink Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100vw;
  height: 90vh;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
}

#localVideo {
  width: 100%;
}

.btns {
  display: flex;
  align-items: center;
  border: 3px solid #2ecc71;
  padding: 1rem 0.5rem;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.btns button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #2ecc71;
  color: white;
  transition: all 0.3s ease;
}
